@use "./variables";

body{
    font-family: variables.$main-font;
    margin: 0;
}
nav{
    .desktop-bar{
        padding: 1vw 3vw;
        display: none;
        .logo{
            p{
                margin: 0;
            }
            &:hover{
               cursor: pointer; 
            }
        }
        .links-container{
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .searchbar{
                display: flex;
                align-items: center;
                border-bottom: 1px solid #DFDFDF;
                width: 50%;
                align-self: flex-end;
                justify-content: space-between;
                padding: 0.3vw;
                input{
                    border: none;
                    &::placeholder{
                        font-family: variables.$main-font;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                svg{
                    &:hover{
                        cursor: pointer;
                        stroke: variables.$primary-color;
                    }
                }
            }
            .links{
                display: flex;
                gap: 2vw;
                a{
                    text-decoration: none;
                    color: variables.$tertiary-color;
                    &:hover{
                        cursor: pointer;
                        color: variables.$primary-color;
                    }
                }
                .active{
                    color: variables.$primary-color;
                }
            }
    
        }
    }
    .mobile-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: variables.$primary-color;
        svg{
            max-width: 12vw;
            &:hover{
                cursor: pointer;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3vw;
            width: 100%;
            a {
                color: variables.$tertiary-color;
                text-decoration: none;
            }
        }
        .show{
            display: flex;
        }
        .hide{
            display: none;
        }
    }
}

@media only screen and (min-width: 1000px) {
    nav{
        .desktop-bar{
            display: flex;
        }
        .mobile-bar{
            display: none;
        }
    }
  }