@use "./variables";

body{
    padding-top: 15vw;
}
nav{
    .desktop-bar{
        display: none;
        white-space: nowrap;
        .logo{
            p{
                margin: 0;
            }
            &:hover{
               cursor: pointer; 
            }
        }
        .links-container{
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .searchbar{
                display: flex;
                align-items: center;
                border-bottom: 1px solid #DFDFDF;
                width: 50%;
                align-self: flex-end;
                justify-content: space-between;
                padding: 0.3vw;
                input{
                    border: none;
                    &::placeholder{
                        font-family: variables.$main-font;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                svg{
                    &:hover{
                        cursor: pointer;
                        stroke: variables.$primary-color;
                    }
                }
            }
            .links{
                display: flex;
                gap: 2vw;
                a{
                    text-decoration: none;
                    color: variables.$tertiary-color;
                    &:hover{
                        cursor: pointer;
                        color: variables.$primary-color;
                    }
                }
                p{
                    margin: 0;
                    &:hover{
                        cursor: pointer;
                        color: variables.$primary-color;
            }
                }
                .active{
                    color: variables.$primary-color;
                }
            }
    
        }
    }
    .mobile-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: variables.$primary-color;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        svg{
            max-width: 8vw;
            margin-right: 3vw;
            &:hover{
                cursor: pointer;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3vw;
            width: 100%;
            a {
                color: variables.$tertiary-color;
                text-decoration: none;
            }
        }
        .show{
            display: flex;
        }
        .hide{
            display: none;
        }
    }
    .show{
            display: flex;
        }
        .hide{
            display: none;
        }
    .login-tab{
        position: absolute;
        background-color: variables.$secondary-color;
        gap: 1vw;
        padding: 2vw;
        right: 8vw;
        top: 18vw;
        div{
            display: flex;
            gap: 1vw;
            flex-direction: column;
            input{
                height: 1.7vw;
                border: none;
                &:focus{
                    outline: none;
                    border: none;
                }
            }
        }
        .login-button{
            background-color: #61E692;
            align-items: center;
            align-self: flex-end;
            color: white;
            padding: 0.5vw 1vw;
            margin: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 1vw;
        }
    }
}

@media only screen and (min-width: 800px) {
    
    nav{
        .desktop-bar{
            display: flex;
        }
        .mobile-bar{
            display: none;
        }
    }
  }