@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
nav .desktop-bar {
  display: none;
}
nav .desktop-bar .logo p {
  margin: 0;
}
nav .desktop-bar .logo:hover {
  cursor: pointer;
}
nav .desktop-bar .links-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .desktop-bar .links-container .searchbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
  width: 50%;
  align-self: flex-end;
  justify-content: space-between;
  padding: 0.3vw;
}
nav .desktop-bar .links-container .searchbar input {
  border: none;
}
nav .desktop-bar .links-container .searchbar input::placeholder {
  font-family: "Titillium Web", sans-serif;
}
nav .desktop-bar .links-container .searchbar input:focus {
  outline: none;
}
nav .desktop-bar .links-container .searchbar svg:hover {
  cursor: pointer;
  stroke: #d39d5b;
}
nav .desktop-bar .links-container .links {
  display: flex;
  gap: 2vw;
}
nav .desktop-bar .links-container .links a {
  text-decoration: none;
  color: #30454c;
}
nav .desktop-bar .links-container .links a:hover {
  cursor: pointer;
  color: #d39d5b;
}
nav .desktop-bar .links-container .links .active {
  color: #d39d5b;
}
nav .mobile-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #d39d5b;
}
nav .mobile-bar svg {
  max-width: 12vw;
}
nav .mobile-bar svg:hover {
  cursor: pointer;
}
nav .mobile-bar .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  width: 100%;
}
nav .mobile-bar .links a {
  color: #30454c;
  text-decoration: none;
}
nav .mobile-bar .show {
  display: flex;
}
nav .mobile-bar .hide {
  display: none;
}

@media only screen and (min-width: 1000px) {
  nav .desktop-bar {
    display: flex;
  }
  nav .mobile-bar {
    display: none;
  }
}
footer {
  background-color: #30454c;
  display: grid;
  gap: 6vw;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding: 1.7vw 3vw;
  min-height: 20vw;
  bottom: 0;
}
footer section .last-para {
  margin-top: 2vw;
}
footer section .service {
  margin-bottom: 6vw;
}
footer h2 {
  margin: 0.3vw 0;
  font-size: 1.5vw;
  white-space: nowrap;
}
footer p {
  margin: 0;
  font-size: 1vw;
  white-space: nowrap;
}
footer .icons {
  display: flex;
  gap: 2vw;
  justify-self: flex-end;
}

@media only screen and (max-width: 1000px) {
  footer {
    box-sizing: border-box;
    width: 100%;
  }
}
.event-header {
  margin-bottom: 10vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 30vw;
  margin: 2vw 0;
}
.event-header img {
  height: inherit;
  box-sizing: border-box;
  width: 100%;
  border: #d39d5b 5px solid;
  object-fit: cover;
}
.event-header .header-info {
  border: 1px solid #d39d5b;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1vw;
  height: 100%;
  width: 100%;
  text-align: end;
  justify-content: flex-end;
}
.event-header .header-info .place {
  margin: 0;
}
.event-header .header-info .date {
  font-weight: 700;
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
}
.event-header .header-info .title {
  font-family: "Playfair Display", serif;
  color: #d39d5b;
  font-size: 3vw;
  font-weight: 400;
  margin: 0;
}
.event-header .header-info .genre {
  font-weight: 400;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  body {
    padding: 3vw 8vw;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=output.css.map */
