@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
nav .desktop-bar {
  display: none;
}
nav .desktop-bar .logo p {
  margin: 0;
}
nav .desktop-bar .logo:hover {
  cursor: pointer;
}
nav .desktop-bar .links-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .desktop-bar .links-container .searchbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
  width: 50%;
  align-self: flex-end;
  justify-content: space-between;
  padding: 0.3vw;
}
nav .desktop-bar .links-container .searchbar input {
  border: none;
}
nav .desktop-bar .links-container .searchbar input::placeholder {
  font-family: "Titillium Web", sans-serif;
}
nav .desktop-bar .links-container .searchbar input:focus {
  outline: none;
}
nav .desktop-bar .links-container .searchbar svg:hover {
  cursor: pointer;
  stroke: #d39d5b;
}
nav .desktop-bar .links-container .links {
  display: flex;
  gap: 2vw;
}
nav .desktop-bar .links-container .links a {
  text-decoration: none;
  color: #30454c;
}
nav .desktop-bar .links-container .links a:hover {
  cursor: pointer;
  color: #d39d5b;
}
nav .desktop-bar .links-container .links p {
  margin: 0;
}
nav .desktop-bar .links-container .links p:hover {
  cursor: pointer;
  color: #d39d5b;
}
nav .desktop-bar .links-container .links .active {
  color: #d39d5b;
}
nav .mobile-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #d39d5b;
}
nav .mobile-bar svg {
  max-width: 12vw;
}
nav .mobile-bar svg:hover {
  cursor: pointer;
}
nav .mobile-bar .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
  width: 100%;
}
nav .mobile-bar .links a {
  color: #30454c;
  text-decoration: none;
}
nav .mobile-bar .show {
  display: flex;
}
nav .mobile-bar .hide {
  display: none;
}
nav .show {
  display: flex;
}
nav .hide {
  display: none;
}
nav .login-tab {
  position: absolute;
  background-color: #ad7a51;
  gap: 1vw;
  padding: 2vw;
  right: 8vw;
  top: 13vw;
}
nav .login-tab div {
  display: flex;
  gap: 1vw;
  flex-direction: column;
}
nav .login-tab div input {
  height: 1.7vw;
  border: none;
}
nav .login-tab div input:focus {
  outline: none;
  border: none;
}
nav .login-tab .login-button {
  background-color: #61E692;
  align-items: center;
  align-self: flex-end;
  color: white;
  padding: 0.5vw 1vw;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1vw;
}

@media only screen and (min-width: 1000px) {
  nav .desktop-bar {
    display: flex;
  }
  nav .mobile-bar {
    display: none;
  }
}
footer {
  background-color: #30454c;
  display: grid;
  gap: 6vw;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding: 1.7vw 3vw;
  min-height: 20vw;
  bottom: 0;
}
footer section .last-para {
  margin-top: 2vw;
}
footer section .service {
  margin-bottom: 6vw;
}
footer h2 {
  margin: 0.3vw 0;
  font-size: 1.5vw;
  white-space: nowrap;
}
footer p {
  margin: 0;
  font-size: 1vw;
  white-space: nowrap;
}
footer .icons {
  display: flex;
  gap: 2vw;
  justify-self: flex-end;
}

@media only screen and (max-width: 1000px) {
  footer {
    box-sizing: border-box;
    width: 100%;
  }
}
.event-header {
  margin-bottom: 10vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 30vw;
  margin: 2vw 0;
}
.event-header img {
  height: inherit;
  box-sizing: border-box;
  width: 100%;
  border: #ad7a51 5px solid;
  object-fit: cover;
}
.event-header .header-info {
  border: 1px solid #ad7a51;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1vw;
  height: 100%;
  width: 100%;
  text-align: end;
  justify-content: flex-end;
}
.event-header .header-info .place {
  margin: 0;
}
.event-header .header-info .date {
  font-weight: 700;
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
}
.event-header .header-info .title {
  font-family: "Playfair Display", serif;
  color: #d39d5b;
  font-size: 3vw;
  font-weight: 400;
  margin: 0;
}
.event-header .header-info .genre {
  font-weight: 400;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}
.card-section .event-card {
  width: 100%;
}
.card-section .event-card img {
  display: block;
  object-fit: cover;
  height: 20vw;
  width: 100%;
  border: 5px solid #ad7a51;
  box-sizing: border-box;
}
.card-section .event-card .card-info {
  border: 1px solid #ad7a51;
  box-sizing: border-box;
  padding: 1vw;
  text-align: end;
}
.card-section .event-card .card-info .date {
  font-weight: 700;
  border-bottom: 1px solid #d4d4d4;
}
.card-section .event-card .card-info h2 {
  font-size: 4.2vw;
  margin: 0;
  color: #d39d5b;
  font-weight: 400;
}
.card-section .event-card .card-info h3 {
  margin: 0;
  font-weight: 400;
}
.card-section .event-card .card-info .buttons {
  display: flex;
  justify-content: flex-end;
  font-size: 1vw;
  color: white;
  gap: 2vw;
  font-weight: 700;
}
.card-section .event-card .card-info .buttons p {
  padding: 1vw 1.5vw;
}
.card-section .event-card .card-info .buttons p:hover {
  cursor: pointer;
}
.card-section .event-card .card-info .buttons .read {
  background-color: #30454c;
}
.card-section .event-card .card-info .buttons .buy {
  background-color: #d39d5b;
}

.allEvents {
  display: flex;
  margin-bottom: 1vw;
}
.allEvents p {
  background-color: #ad7a51;
  padding: 1vw;
  color: white;
  font-weight: 700;
  margin-left: auto;
}

@media only screen and (max-width: 1000px) {
  .event-header {
    position: relative;
    width: 400vw;
    margin-bottom: 10vw;
  }
  .event-header .header-info {
    display: none;
  }
  .event-header img {
    width: 100%;
    object-position: top;
  }
  .card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-section .event-card {
    width: 50%;
  }
  .card-section .event-card img {
    height: 30vw;
  }
  .card-section .event-card .card-info {
    text-align: center;
  }
  .card-section .event-card .buttons {
    justify-content: center !important;
  }
  .card-section .event-card .buttons p {
    font-size: 3vw;
  }
}
.my-page {
  border: 1px solid #d39d5b;
  margin-top: 3vw;
  padding: 2vw 3vw;
}
.my-page .hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}
.my-page .hero h1 {
  font-size: 4vw;
  color: #d39d5b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
}
.my-page .hero .logout-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
}
.my-page .hero .logout-cont p {
  margin: 0;
}
.my-page .hero .logout-cont .logout-button {
  padding: 1vw;
  color: white;
  font-weight: 700;
  width: 50%;
  text-align: center;
  background-color: #ad7a51;
}
.my-page .hero .logout-cont .logout-button:hover {
  cursor: pointer;
}
.my-page .my-page-section {
  margin: 3VW 0;
}
.my-page .my-page-section .header {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.my-page .my-page-section .header h2 {
  font-weight: 400;
  color: #707070;
}
.my-page .my-page-section .info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DFDFDF;
}
.my-page .my-page-section .info p {
  font-weight: 700;
  color: #707070;
}
.my-page .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-page .block div {
  display: flex;
  gap: 2vw;
}
.my-page .block svg:hover {
  cursor: pointer;
}

.actors {
  border: 1px solid #d39d5b;
  margin-top: 3vw;
  padding: 1vw 3vw;
  margin-bottom: 3vw;
}
.actors h1 {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  color: #d39d5b;
  font-size: 4vw;
}
.actors .actors-container {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.actors .actors-container .actor-block {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  gap: 2vw;
  height: 20vw;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 2vw;
}
.actors .actors-container .actor-block img {
  width: 20vw;
  height: 100%;
}
.actors .actors-container .actor-block .actor-info {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}
.actors .actors-container .actor-block .actor-info h2 {
  font-weight: 400;
  margin: 0;
}
.actors .actors-container .actor-block .actor-info p {
  color: #d39d5b;
  margin: 0;
}
.actors .actors-container .actor-block .read-more {
  background-color: #30454c;
  color: white;
  padding: 1vw;
  text-align: center;
  font-weight: 700;
  align-self: flex-end;
  margin: 0;
}
.actors .actors-container .actor-block .read-more:hover {
  cursor: pointer;
}

.actor-details {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}
.actor-details div {
  border: 1px solid #d39d5b;
  padding: 1vw 2vw;
}
.actor-details div .header {
  font-family: "Playfair Display", serif;
  color: #d39d5b;
}
.actor-details div h2 {
  font-weight: 400;
  font-size: 4vw;
  margin: 0;
}
.actor-details div .actor-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 2vw;
  gap: 3vw;
}
.actor-details div article p {
  color: #d39d5b;
}
.actor-details .back-button {
  background-color: #ad7a51;
  color: white;
  padding: 1vw 2vw;
  font-weight: 700;
  align-self: flex-end;
}
.actor-details .back-button:hover {
  cursor: pointer;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-section select {
  border: 1px solid #d39d5b;
  border-radius: 5px;
  width: 20vw;
  height: 3vw;
  padding: 0 1vw;
}
.filter-section select:focus {
  outline: none;
}
.filter-section h2 {
  font-weight: 400;
  font-size: 4vw;
  color: #d39d5b;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.event-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  border: 1px solid #ad7a51;
  margin: 1vw 0;
  align-items: center;
  height: 10vw;
}
.event-bar img {
  width: 10vw;
  height: 100%;
  border: 3px solid #ad7a51;
  box-sizing: border-box;
}
.event-bar .title {
  font-family: "Playfair Display", serif;
  color: #d39d5b;
  font-weight: 400;
  font-size: 2.4vw;
  margin: 0;
}
.event-bar .location {
  border-left: 1px solid #dfdfdf;
  padding-left: 2vw;
}
.event-bar .location .scene {
  font-weight: 300;
  color: #30454c;
  margin: 0;
  padding: 0;
}
.event-bar .location .date {
  margin: 0;
  font-weight: 700;
  color: #30454c;
  padding: 0;
}
.event-bar .button-cont {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin: 0 2vw;
  justify-self: flex-end;
}
.event-bar p {
  font-weight: 700;
  padding: 1vw;
  color: white;
}
.event-bar p:hover {
  cursor: pointer;
}
.event-bar .read {
  background-color: #30454c;
}
.event-bar .buy {
  background-color: #d39d5b;
}

.event-details {
  margin-top: 3vw;
}
.event-details div img {
  width: 100%;
  height: 40vw;
  object-fit: cover;
  border: 10px solid #ad7a51;
  box-sizing: border-box;
}
.event-details div .heart-icon {
  position: absolute;
  right: 11vw;
  top: 15vw;
}
.event-details .detail-header {
  display: flex;
  justify-content: space-between;
  color: #707070;
  border-bottom: 1px solid #dfdfdf;
}
.event-details .detail-header .place-container p {
  margin: 0;
}
.event-details .detail-header .place-container .stage {
  font-weight: 700;
}
.event-details .detail-header .place-container .date {
  font-size: 1.5vw;
}
.event-details .detail-header .price {
  font-size: 1vw;
}
.event-details .event-info {
  display: flex;
  justify-content: space-between;
}
.event-details .event-info .headline-container h1 {
  margin: 0;
  color: #d39d5b;
  font-family: "Playfair Display", serif;
  font-size: 5vw;
  font-weight: 400;
}
.event-details .event-info .headline-container h3 {
  margin: 0;
  font-weight: 400;
  font-size: 2vw;
}
.event-details .event-info p {
  margin: 0;
  background-color: #ad7a51;
  color: white;
  font-weight: 700;
  padding: 1vw;
  height: 1vw;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  body {
    padding: 3vw 8vw;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=output.css.map */
